/* shop.css */
.car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.car-card {
    background-color: #1E293B;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.car-card:hover {
    transform: translateY(-5px);
}

.car-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.car-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #E6F1FF;
}

.car-price {
    font-size: 1.2em;
    color: #64FFDA;
    font-weight: bold;
}

.buy-button {
    background-color: #64FFDA;
    color: #0A192F;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.buy-button:hover {
    background-color: #A8B2D1;
    color: #121826;
}

/* Стили для фильтров и сортировки */
.shop-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #1E293B;
    border-radius: 8px;
}

.shop-filters label {
    color: #8892B0;
    margin-right: 10px;
    font-size: 1.1em;
}

.shop-filters select {
    padding: 8px;
    border: 1px solid #2D3748;
    border-radius: 6px;
    background-color: #1E293B;
    color: #CCD6F6;
    font-size: 1em;
}

.shop-filters select:focus {
    outline: none;
    border-color: #64FFDA;
}
